<% if @user.blank? %>
<h2>Nový projekt</h2>
<% else %>
<h2>Nový projekt pro klienta: <%= @user.name %> </h2>
<% end %>

<% form_for(@project) do |f| %>


  <% if !@users.blank? %>

   <p>
    <%= label :project, 'user_id', 'jméno klient', :required => true %><br />
    <%= f.collection_select(:user_id, @users, :id, :name, :include_blank => false)
    %>
  </p>
  <%  else %>

     <%= f.hidden_field :user_id, :value=>params[:user_id] %>

  <%  end %>
  <%= render :partial => 'projects/form' %>

  
  <p>
    <%= f.submit "vytvořit" %>
  </p>
<% end %>